# Database Engineering

Using sqlalcemy create database tables and insert the processed(cleaned) data into the database tables.

In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, ForeignKey, Date

In [2]:
measurements_filename = "clean_hawaii_measurements.csv"
stations_filename = "clean_hawaii_stations.csv"

In [3]:
clean_measurements = pd.read_csv(measurements_filename)
clean_stations = pd.read_csv(stations_filename)

In [4]:
clean_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [5]:
clean_stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [6]:
Base = declarative_base()

class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)

class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [7]:
engine = create_engine('sqlite:///hawaii.sqlite')
conn = engine.connect()
Base.metadata.create_all(engine)

In [8]:
clean_measurements.to_sql(con=engine, index_label='id', name=Measurement.__tablename__, if_exists='append')
clean_stations.to_sql(con=engine, index_label='id', name=Station.__tablename__, if_exists='append')

In [9]:
r = conn.execute("select * from sqlite_master where name ='measurement'")
for a in r:
    print(a)

('table', 'measurement', 'measurement', 2, 'CREATE TABLE measurement (\n\tid INTEGER NOT NULL, \n\tstation VARCHAR(255), \n\tdate DATE, \n\tprcp FLOAT, \n\ttobs INTEGER, \n\tPRIMARY KEY (id)\n)')

In [10]:
conn.close()